[submodule "europython-2018/reveal.js"]
	path = europython-2018/reveal.js
	url = git@github.com:hakimel/reveal.js.git
[submodule "europython-2018/headjs"]
	path = europython-2018/headjs
	url = git@github.com:headjs/headjs.git
[submodule "europython-2018/reveal.js-plugin-externalcode"]
	path = europython-2018/reveal.js-plugin-externalcode
	url = git@github.com:pquerna/reveal.js-plugin-externalcode.git
