.container {
    display: flex;
}

.col {
    flex: 1;
}

.vertical-align {
    vertical-align: middle !important;
    border: none !important;
}

.mascot {
    position: absolute;
    right: 0px;
    top: 70px;
}
